.custom-transition {
  transition: all 0.5s ease-in;
}

#navbar {
  z-index: 1; /* Use a whole number for z-index */
  color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%; /* Use width instead of min-width */
  /* background-color: #003f5e; */
  background-color: #274472;
  padding: 0 5rem;
}


@media (max-width: 1325px) {
  #navbar {
    padding: 0;
  }
}

.navbar_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
}
.heading_logo {
  text-transform: none;
}
.navbar_header img {
  height: 3rem;
}
.heading_name {
  cursor: pointer;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  color: white;
  font-family: "signika negative";
  text-transform: uppercase;
}
/* menu bar */
#navbar_menu {
  display: flex;
  align-items: center;
}
#nav_ul {
  display: flex;
  font-family: "signika negative";
  gap: 0.75rem;
  font-weight: 500;
}
@media (max-width: 1325px) {
  #nav_ul {
    gap: 0rem;
  }
}
.nav_list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_link {
  font-size: 1.1rem;
  padding: 1px 0.5rem;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  text-decoration: none;
  transition: 0.2s all ease-in;
}
.nav_link:hover {
  color: rgb(31, 207, 31);
}
.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* remix icon */
.ri-menu-fill,
.ri-close-line {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  #navbar_menu {
    position: absolute;
    top: 4rem;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #f2f2f2;
    transition: all 0.2s ease-in-out;
  }
  #nav_ul {
    width: 100%;
    flex-direction: column;
  }
  #nav_ul .nav_list {
    width: 100%;
    border-bottom: 1px solid rgb(190, 189, 189);
  }
  #nav_ul .nav_list a {
    font-size: 1.2rem;
    font-family: "overpass";
    color: black;
    font-weight: 600;
    margin: 0.8rem 0;
    text-align: left;
    width: 100%;
  }
  #nav_ul .nav_list a:hover {
    color: red;
  }
}
