.notification-bar {
  background-color: #0348bc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.2rem;
  /* margin-top: 4rem; */
  margin-bottom: 0.06rem;
  color: white;
  gap: 1rem;
  font-size: 1.2rem;
}
.notice_description {
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.notice_description:hover {
  color: aqua;
}

/* NoticePopup.css */

.notice-popup {
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #f5f5ff; */
  background-color: #4f5581;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  overflow-y: auto;
  color: white;
}
@media (max-width: 500px) {
  .notice-popup {
    top: 25%;
    width: 97vw;
  }
}
.popup-content {
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.close-btn:hover {
  background-color: rgb(170, 159, 159); /* Light gray background on hover */
  border-radius: 100%; /* Circular button on hover */
}
