/* page is hide because of navbar is fixed need margin */
.page {
  margin-top: 4rem;
}

/* 👉 for about journal page */
.about_container {
  text-align: justify;
  padding: 2rem 15rem;
  font-family: "Times New Roman";
}
.about_para {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about_para {
  text-align: justify;
}
ol {
  padding: 0 0 0 1rem;
}
@media only screen and (max-width: 1200px) {
  .about_container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .about_container {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .about_container {
    padding: 1rem 1rem;
  }
}

/* 👉  page of instruction to author */
/* some formats */
.instructionAuthorOL li {
  list-style-type: disc;
}
.paper_formats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.8rem 0;
  gap: 10px;
}
.author_container {
  font-family: "Times New Roman";
  padding: 2rem 15rem;
  text-align: justify;
}
@media only screen and (max-width: 1200px) {
  .author_container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .author_container {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .author_container {
    padding: 1rem 1rem;
  }
}

/* 👉editorial policies page */
.editorial_policies_container {
  font-family: "Times New Roman";
  text-align: justify;
  margin-bottom: 3rem;
  margin-top: 4rem;
  padding: 2rem 15rem;
}
@media only screen and (max-width: 1200px) {
  .editorial_policies_container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .editorial_policies_container {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .editorial_policies_container {
    padding: 1rem 1rem;
  }
}

/* 👉 Peer review policy */
.peer_review_policy_container {
  font-family: "Times New Roman";
  padding: 2rem 15rem;
  text-align: justify;
}
@media only screen and (max-width: 1200px) {
  .peer_review_policy_container {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .peer_review_policy_container {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .peer_review_policy_container {
    padding: 1rem 1rem;
  }
}

.sub-heading {
  font-size: 1.4rem;
  font-weight: bold;
}

/* page for editors board list */
.editorboard_container {
  font-family: "Times New Roman";
  text-align: center;
  padding: 2rem 0;
}

/* for contact us page */
.contact_us_container {
  font-family: "Times New Roman";
  text-align: justify;
  margin-top: 6rem;
}
.about_heading {
  font-size: 1.7rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}
.add-lists {
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutus_points {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-width: 50%;
}

.aboutus_points li {
  font-size: 17px;
}
.mono {
  /* text-decoration: underline; */
  font-family: "Times New Roman", Times, serif;
}
.aboutus_points li a {
  color: black;
}


/* call for paper page style */
.callforpaper_container{
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callforpaper_container p a{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

/* page of volume1 issue 1 2024 */
.volumeIssue_container{
  margin-top: 5rem;
}
.volumeIssue_heading{
  margin: 0.2rem 0 1rem 0;
}
.volumeIssue_container h2{
  text-align: center;
}
.volumeIssue_pdf_container{
  text-align: justify;

}
