/* YourComponent.css or PdfViewer.css */

.pdf-container {
  margin: auto;
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
.quotes {
  font-size: 1.2em; /* Adjust the font size as needed */
  margin-bottom: 10px;
  /* font-weight: bold; */
}
.quotes a {
  text-decoration: none;
  font-size: 16px;
}
.author {
  font-weight: bold;
  margin-bottom: 5px;
}

.college {
  font-weight: normal;
  color: #555; /* Optional: Add a color to the college name */
}
@media (max-width: 700px) {
  .pdf-container {
    width: 97%;
  }
}

/* for new abstract and full page pdf links */
.key_buttons {
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 4rem;
  width: 90%;
  font-size: 0.9rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  .key_buttons {
    gap: 8vw;
    width: 100%;
  }
}

/* hover effects */
